a {
    text-decoration: none;
}

/*导航容器*/
.container {
    width: 1290px;
}

/*导航栏标题*/
.navbar-brand {
    margin-left: 100px;
    margin-right: 200px;
}

/*搜索框*/
#searchBox input {
    border-radius: 0.975rem
}

/*分割线*/
#split {
    width: 1px;
    height: 30px;
    background-color: white;
    opacity: 0.7;
    position: relative;
    left: -90px;
}

/*导航栏头像*/
.nav_avatar {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    overflow: hidden;
    cursor: pointer;
}

.message_mod {
    cursor: pointer;
}

.el-drawer__header {
    margin-bottom: 10px;
}

/*todo 覆写elementPlus的样式：在外面套一层div并赋于id值，使用#id >>> .class **深度作用选择器** ,
   深度选择器(:deep()): 通过改变属性选择器的位置实现样式穿透  用法： .父元素class :deep(.class)  */
#mess :deep(.el-drawer__body ) {
    padding: 0;
}

.fMessage_mod {
    width: 100%;
    height: 100%;
}

.messageList {
    height: 100px;
    width: 100%;
    padding-right: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

.messageList:hover {
    background-color: #ededed;
    border-radius: 13px;
    transition: 0.5s all ease-in-out;
}

.messageList img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.messInfo {
    height: 80px;
    width: 76%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.messInfo span {
    font-family: STXihei, serif;
}

.nameAndTime {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messText {
    max-width: 100%;
    white-space: nowrap; /*强制单行显示*/
    text-overflow: ellipsis; /*超出部分省略号表示*/
    overflow: hidden; /*超出部分隐藏*/
}

.delMess {
    width: 20px;
    height: 20px;
    border-radius: 13px;
    position: absolute;
    right: 31px;
    margin-top: 72px;
    z-index: 0;
    transform: translate(100px, 0px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.delMess svg {
    width: 20px;
    height: 20px;
}

.messageList:hover .delMess {
    transform: translate(0px, 0px);
}

.delMess:hover svg {
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 13px;
    transition: all 0.5s ease-in-out;
}

.sMessage_mod {
    width: 100%;
    height: 100%;
}

.noMess {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.noMess span {
    font-family: STXihei, serif;
    font-size: large;
}

.search_mod {
    background-color: #fbfbfb;
    color: #FFFFFF;
    position: absolute;
    top: 75px;
    min-width: 350px;
    max-width: 350px;
    min-height: 200px;
    max-height: 500px;
    z-index: 3;
    border-radius: 12px;
    box-shadow: 0 0 6px 1px #dbdbdb;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: scale(0, 0);
}

.search_mod.activeS {
    opacity: 1;
    transform: scale(1, 1);
}

.search_mod_title {
    font-size: 17px;
    color: #646464cc;
    padding-left: 20px;
}

.search_mod_show {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

}

.search_mod_show span {
    padding-left: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    font-family: STXihei, serif;
    color: #000000;
    cursor: pointer;
}

.search_mod_show span:hover {
    background-color: rgba(238, 238, 238, 0.78);
}

.search_mod:deep(.el-scrollbar__wrap) {
    max-height: 460px;
}

.search_mod_show_home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.search_mod_show_home span {
    color: #2f2f2f;
}

.search_mod_show_history {
    padding-left: 20px;
    padding-right: 20px;
}

.search_mod_show_history_title {
    display: flex;
    justify-content: space-between;
    font-family: STXihei, serif;
    font-size: 17px
}

.search_mod_show_history_delBT {
    color: #646464;
    cursor: pointer;
}

.search_mod_show_history_delBT:hover {
    color: #000000;
    cursor: pointer;
}

.search_history_bt_mod {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.search_history_bt {
    max-width: 110px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: #cacaca solid 1px;
    background-color: rgb(228 228 228 / 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search_history_bt_text {
    height: 20px;
    font-size: 14px;
    font-family: STXihei, serif;
    color: #333333;
    white-space: nowrap; /*强制单行显示*/
    text-overflow: ellipsis; /*超出部分省略号表示*/
    overflow: hidden; /*超出部分隐藏*/
}

.search_history_bt:hover {
    background-color: #ffffff;
}

.search_history_bt:hover .search_history_bt_text {
    color: #000000;
}

.search_mod_show_recom {

}

.search_mod_show_recom_title {
    padding-left: 20px;
    padding-right: 20px;
    font-family: STXihei, serif;
    font-size: 17px
}

.search_mod_show_recom_form {
    margin-top: 5px;
    width: 100%;
}

.search_mod_show_recom_form_item {
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item_index {
    width: 30px;
}

.item_index.red {
    color: #e02424;
}

.search_mod_show_recom_form_item:hover {
    background-color: rgba(238, 238, 238, 0.87);
}

.search_mod_show_recom_form_item span {
    font-family: STXihei, serif;
}