/**
编辑资料模块
 */
/*头像展示*/
/*编辑资料模块框架*/
.pl_editUserInfo .el-dialog {
    border-radius: 20px;
    background-color: #13131a;
}

/*标题*/
.pl_editUserInfo .el-dialog__title {
    font-size: 25px;
    font-family: STXihei, serif;
    font-weight: 900;
    position: relative;
    top: 10px;
    left: 20px;
    color: white;
}

/**
编辑表单
 */
.editForm {
    display: flex;
}

.editCover {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    overflow: hidden;
}

.editCover:hover img {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.editCover img {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
}


.pl_editUserInfo .el-dialog__body {
    padding-left: 40px;
}

/*按钮位置*/
.pl_editUserInfo .el-dialog__footer {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
}

/*使用id选择器提高权重，覆写组件样式 ,按钮样式*/
#pl_editUserInfo .el-button--primary {
    margin-left: 30px;
    background-color: #e58c43;
    border-color: #e58c43;
}

#pl_editUserInfo .el-button--primary:hover {
    background-color: #fff4ea;
    border-color: #fff4ea;
    color: #e58c43;
}

#pl_editUserInfo .el-button:hover {
    background-color: #fff4ea;
    border-color: #fff4ea;
    color: #e58c43;
}


.editForm .el-scrollbar {
    width: 100%;
}


/*表单文字*/
.editForm .el-form-item__label {
    color: white;
    font-family: STXihei, serif;
}

/*昵称输入框*/
#playlist_Name .el-input {
    width: 300px;
}

.editForm .el-select {
    width: 150px;
}

/*简介输入框*/
#eidtplaylist_introduction .el-textarea__inner {
    width: 300px;
    height: 100px;
    max-height: 200px;
}

#eidtplaylist_introduction .el-textarea .el-input__count {
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    bottom: 5px;
    left: 230px;
    right: inherit;
}

#pl_editUserInfo .el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close {
    color: #e58c43 !important;
}

#pl_editUserInfo .el-textarea__inner:focus {
    outline: 0;
    box-shadow: 0 0 0 1px #e58c43 inset;
}
#pl_editUserInfo .el-select__wrapper.is-focused{
    box-shadow: 0 0 0 1px #e58c43 inset;
}